/.cache
/.vs
/.vscode
/atlas.png
/batchfragment.frag
/batchvertex.vert
/bg.jpg
/bmfont.bmfc
/bmfont64.exe
/box2d
/font2.png
/freetype
/glad
/glm
/omnix_main.blog
/out
/profilerResult.json
/profilerResults__max.json
/t2d.cpp.yedek
/testfont.ttf
/build